<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
  </head>
  <body>
    <h1>Cart</h1>
    <ul>
      <% cart.products.forEach(product => { %>
      <li><%= product.name %> - <%= product.price %></li>
      <% }); %>
    </ul>

    <% if (user) { %>
    <form action="/cart/checkout" method="POST">
      <button type="submit">Checkout</button>
    </form>
    <% } else { %>
    <p>Login to checkout</p>
    <% } %>
  </body>
</html>
